<h1 align='center'>Hey <%= @user.email %>, these are your saved items being tracked...</h1>

<% @user.uploads.each do |upload| %>
  <ul align='center' style="list-style-type: none">
    <li><%= url_host(upload.upload_url) %></li>
    <li><%=link_to upload.upload_url, upload.upload_url %></li>
  </ul>
<% end %>
